extends layout

block content
  .wrapper
    aside.side-info
      a(href="#")
         img.fold(src='/images/assets/shrink-icon-04.png') 
      ol
        li.active
          a(href="/")
            icon
              img(src='/images/assets/home-icon-03.png') 
            p
              |Home
        li
          a(href="/mycode")
            icon
              img(src='/images/assets/mycode-icon-04.png') 
            p
              |Mycode
        li
          a(href="/account")
            icon
              img(src='/images/assets/accound-icon-03.png') 
            p
              |Account
    div.header-wrapper
        ol.breadcrumb
          li
            a(href="/home" )
              |Truetle
          li.active
              |#{title} 
        .user-info
          #logout
            a(href="/login")
              img(src='/images/assets/exit-icon-04.png') 
          .user-name
            p
              |#{user.username}
          .icon
            img(src='/images/assets/user-icon-03.png')
    .control-list
        .left-control
          button.btn.btn-small(type="button" onclick="runit()") 
            |Run 
          button.btn.btn-small(type="button" onclick="save()") 
            |Save 
          button.btn.btn-small(type="button" onclick="saveas()") 
            |Save as 
        .right-control
          button#result-btn.btn.btn-small
            a(href="#")
              |result
          button#console-btn.btn.btn-small
            a(href="#")
              | console
    .pane-wrapper
      textarea#yourcode
        |import turtle
        |t = turtle
        |print "start" 
        |for i in range(50):
        |    t.forward(i)
        |    t.left(53)
        |print "Hello World" 
    .canvas-wrapper
      pre#output.hide
      <!-- If you want turtle graphics include a canvas -->
      div#mycanvas
      include modals/alert
      //include modals/confirm

block  scripts
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" )
    <!-- 引入CodeMirror核心文件 -->
    script(src='/js/common/skulpt.min.js')
    script(src='/js/common/skulpt-stdlib.js')
    script(src='/lib/codemirror-5.39.0/lib/codemirror.js')
    script(src="/lib/codemirror-5.39.0/mode/python/python.js")
    script(src='/js/controllers/turtleController.js')
    script(src='/js/controllers/userController.js')
