extends layout-login

block content
  div.header-wrapper.blue-title
        ol.breadcrumb
          li
            a(href="home")
              |Truetle
          li.active
              |#{title} 
          .line
  form.login(action = "/login" method = "post")
    div.login-title
    div.input-list
      .input-group-lg.input-group
        span.input-group-addon#sizing-addon1
          img(src="/images/assets/Username-icon.png")
        input(type="text" aria-describedby="sizing-addon1" id="username" name="username" placeholder="username" required)
      .input-group-lg.input-group
        span.input-group-addon
          img(src="/images/assets/Password-icon.png")
        input(type="password" id="password" name="password" placeholder="userpassword" required)
    div.control-btn
      input(type = "submit" value="LOGIN" )
      div.signup
        a(href="/signup")
            |signup
    include modals/alert
    include modals/confirm
block  scripts
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js')
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" )
    script(src='/js/controllers/userController.js')
    script(src='js/view/login.js')