extends layout
block content
  .wrapper
    aside.side-info
      a(href="#")
        img.fold(src='/images/assets/shrink-icon-04@3x.png') 
      ol
        li
          a(href="/")
            icon
              img(src='/images/assets/home-icon-03@3x.png') 
            p.hide
              |Home
        li.active
          a(href="/mycode")
            icon
              img(src='/images/assets/mycode-icon-04@3x.png') 
            p.hide
              |Mycode
        li
          a(href="/account")
            icon
              img(src='/images/assets/accound-icon-03@3x.png') 
            p.hide
              |Account
    .header-wrapper
      ol.breadcrumb
        li
          a(href="home")
            |Truetle
        li.active
            |#{title} 
      .user-info
        #logout
          a(href="/login")
            img(src='/images/assets/exit-icon-04.png') 
        .user-name
          p
            |#{user.username} 
        .icon
          img(src='/images/assets/user-icon-03.png')
    .code-container
      .continue-title
        |Continue coding
      .mycode#mycode
        a.code-demo( href="#" draggable="true" ondragstart="drag(event);")
            .code-icon  
              img(src="/images/python_turtle.svg" alt="Python (with Turtle)")
            .code-info
              .code-title
              .code-time
      .distbin
        img#gb(draggable="false" src="/images/assets/rubbish-icon.png" alt="垃圾桶")
        

         
      

block  scripts
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='/js/controllers/userController.js')
    script(src='/js/view/mycode.js')