body{
  margin:0;
}
a {
  color: #fff;
}
a:hover{
  text-decoration:none; 
  color: #fff;
}
input{
  outline:none;
}
.up{
  z-index: 999;
}
.hide{
  display: none;
}
.show{
  display:  block;
}
.wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: [col1-start] 70px [col2-start] auto  [col2-end];
  grid-template-rows: [row1-start] 70px [row2-start] auto [row2-end];
  background-color: #fff;
  color: #444;
}
.open{
  grid-template-columns: [col1-start] 130px [col2-start] auto  [col2-end];
}

.wrapper .side-info{
  grid-column: col1-start ;
  grid-row: row1-start / row2-end;
  background: #424857;
  padding-top: 70px;
}
.wrapper .side-info .fold{
 margin-left:20px; 
 margin-top: 10px;
 width: 18px;
 height: 16px;
} 
.wrapper .side-info ol{
  margin-top: 30px
 } 
.wrapper .side-info ol li{
  margin-left: -40px;
  padding-left: 20px;
  height: 40px;
 } 
 .wrapper .side-info ol li img{
  margin-top : 10px;
  width: 20px;
  height: 20px;
 } 
 .wrapper .side-info ol .active{
  border-left: 2px solid #52bbff;
 } 
 .wrapper .side-info ol p{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  float: right;
  margin-right: 20px;
  margin-top : 10px;
 }
.wrapper  .header-wrapper{
  height: 70px;
  /* flex-direction: row; */
  /* align-items: center; */
  background: #E7EBF1;
  grid-column: col2-start / col3-end;
  grid-row: row1-start;
}
.wrapper .header-wrapper .breadcrumb{
  background: #E7EBF1;
}
.wrapper .header-wrapper .breadcrumb li a{
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #424857;
}
.wrapper .header-wrapper .breadcrumb>li+li:before {
  color: #51bfff;
  content: "|";
}
.wrapper .header-wrapper .breadcrumb .active{
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #44BBFF;
}
.wrapper .header-wrapper .user-info{
  width: 40%;
  float: right;
  margin-top : 20px;
  margin-right: 30px;
}

.wrapper .header-wrapper .user-info .icon{
  float:right;
  width: 30px;
  padding-right: 20px;
  margin-top: -2px;
}
.wrapper .header-wrapper .user-info .user-name{
  padding-right: 20px;
  float:right;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #424857;
}
.wrapper .header-wrapper .user-info #logout{
  width: 30px;
  float: right;
  padding-left: 20px;
  border-left: 1px solid #424857;
}

.wrapper .editor-wrapper{
  grid-column: col2-start /col2-end;
  grid-row: row2-start / row2-end;
}
.wrapper .editor-wrapper .control-list{
  height: 40px;
}
.wrapper .control-list div{
  width:50%;
  float:left;
}
.wrapper .control-list a {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #424857;
}
.wrapper .control-list a::before {
  padding: 0 5px;
  color: #51bfff;
  content: "|";
}
.wrapper .control-list .left-control .btn{
  font-size:18px;
}
.wrapper .editor-wrapper{
  height: 100%;
}
.wrapper .editor-wrapper .turtle-editor{ 
  height: calc(100% - 40px);
}
.wrapper .editor-wrapper .pane-wrapper{
  width:50%;
  height: 100%;
  float:left;
  
}
.wrapper .editor-wrapper .canvas-wrapper{
  width:50%;
   height: 100%;
  float:left;
  
}
.CodeMirror{
  height: 100%;
}
.glyphicon {
  margin-right: 2px;
  top: 3px;
}
#output{
  height: 100%;
  font-size: 14px;
  overflow: auto; /* 超出宽度出现滑动条 */
  border-top:0px solid #fff;
}
#mycanvas{
  height: 100%;
  width: 100%;
  overflow: scroll;
  outline: none;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  position: relative;
  display: block;
  margin-top: 0px;
  z-index: 3;
}



/*
login signup
*/
.login-body{
  background-image: url(/images/assets/Group-2.png);
  /*height: 900px;*/
}

.login-body .header-wrapper{
  border:none; 
  background: none;
  height: 70px;
}
.blue-title .breadcrumb{
  background-color:transparent;
  border:none; 
}
.blue-title .breadcrumb a{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #FFFFFF;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color:#51bfff;
  content: "/\00a0";
}
.blue-title .breadcrumb .active{
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #51bfff;
  line-height: 33px;
}
.line{
  width: 180px ;
  height: 4px;
  background: #44BBFF;
  border-radius: 100px;
}
.login{
  width: 520px;
  height:540px;
  margin:  130px auto ;
  background-color: #fff;
  border-radius: 10px;
}
.login .login-title{
  background-image: url(/images/assets/Group.png) ;
  height: 150px;
}
.login .input-list{
  padding-top: 78px;
  width: 80%;
  margin: 0 auto;
}
.input-group-addon{
  width:70px;
  height:64px;
  border:none;
  background-color: #fff;
}
.login .input-group{
  margin-top:10px;
}
.login .input-list input{
  height: 64px;
  width: 346px;
  border: none;
  border-bottom: 2px solid #D6D6D6;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #D6D6D6;
  outline:none;
}
.login .control-btn {
  width: 60%;
  margin: 30px auto;
  
}
.login .control-btn  input{
  background: #44BBFF;
  border-radius: 36px;
  width: 100%;
  height: 40px;
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #FFFFFF;
  outline:none;
}
.login .control-btn .signup{
  background: #ffffff;
    border-radius: 36px;
    margin-top: 28px;
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #44BBFF;
    text-align: center;
    border: 1px solid #43bbff;

}
.login .control-btn .signup a{
  color: rgb(67, 187, 255);
}

.signup .signup-title{
  background-image: url(/images/assets/logo.png) ;
  height: 150px;
}

.well{
  width:1040px;
  height: 580px;
  margin: 70px auto;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0px;
  border: none;
}

.well .input-list{
 width: 86%;
 height: 300px;
 margin: 0px auto;
 margin-top: 48px;
}
.well .input-left{
  width: 49%;
  height: 100%;
  float:left;

}
.well .middle-line{
  margin-top: 36px;
  margin-left: 14px;
  float: left;
  height: 200px;
  border-right: 2px solid #43bbff;
}

.well .input-left .input-group{
  float:left;
  margin-top: 16px;
}
.well .input-right{
  width: 49%;
  height: 100%;
  float:right;
}
.well .input-right .input-group{
  float:right;
  margin-top: 16px;
}
.well .input-group input{
  height: 64px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #D6D6D6;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #D6D6D6;
}
#bio{
  height: 64px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #D6D6D6;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  outline:none;
}
.well .control-btn{
  width: 80%;
  margin: auto;
}
.well .control-btn input{ 
  width: 324px;
  height: 38px;
  background: #44BBFF;
  border-radius: 36px;
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #FFFFFF;
  float:left;
}
.well .control-btn a{  
  width: 324px;
  height: 38px;
  background: #44BBFF;
  border-radius: 36px;
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #FFFFFF;
  float: right;
  text-align: center;
}
.dropdown{
  float: right;
  margin: 13px 30px;
}
#dropdownMenu1{
  width: 160px;
}
.breadcrumb {
  margin: 12px;
  width: 50%;
  float: left;
}

/*
mycode
*/

.code-container{
  grid-column: col2-start / col3-end;
  grid-row: row2-start / row2-end;
}
.code-container .continue-title{
  width: 90%;
  font-family: Raleway,sans-serif;
  color: #424242;
  text-align: left;
  font-size: 18px;
  padding: 30px;
  padding: 20px;
  margin: 0 auto;
}
.code-container .mycode{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin: 20px auto;
}
.code-container .mycode .code-demo{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 300px;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  background-color: white;
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
  color: #424242;
  margin: 10px;

  background: #FFFFFF;
  border-radius: 8px;
}
.code-container .mycode .code-demo .code-icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  flex: 0 0 auto;
}
.code-container .mycode .code-demo .code-info{
  overflow: hidden;
}
.code-container .mycode .code-demo .code-info .code-title{
  color: #7F7F7F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}
.code-container .mycode .code-demo .code-info .code-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(128,127,127,0.7);
  font-size: 3vw;
}
.distbin{
  width: 90%;
  font-family: Raleway,sans-serif;
  color: #424242;
  text-align: right;
  font-size: 18px;
  margin: 0 auto;
}
.distbin img{
  height: 80px;
  margin-right: 10%;
}
#code-list-title{
  font-size: 34px;
  text-align: center;
  color: #777877;
}